@model Fiets.Data.Ride

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ride</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RideFinished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RideFinished)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RideStartTimeUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RideStartTimeUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RideStartKm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RideStartKm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RideEndKm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RideEndKm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RideEndTimeUtc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RideEndTimeUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RideID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
