@model IEnumerable<Fiets.Data.Ride>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RideFinished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideStartTimeUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideStartKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideEndKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RideEndTimeUtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RideFinished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RideStartTimeUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RideStartKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RideEndKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RideEndTimeUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RideID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RideID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RideID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
